<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Study Buddies | By Students For Students</title>
  <%- include("include/cdn") %>
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/master.css">
</head>

<body>
  <section id="hero">
    <%- include("include/navbar") %>
    <div class="container-fluid hero-section">
      <div class="row">
        <div class="col-lg-6" style="padding-right:10%;">
          <p class="secondary-text">Interactive Tutoring</p>
          <h1 class="mb-3" style="font-size:2em">Effective <br>Online Way</h1>
          <h3 class="mb-4">A flexible way to find tutors to help you with your study</h3>
          <button type="button" class="btn btn-dark hero-btn">Start Learning &#8594;</button>
          <button type="button" class="btn btn-dark hero-btn">Join as Tutor &#8594;</button>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <img src="/static/assets/hero-img.svg" alt="" id="heroImage">
        </div>
      </div>
    </div>
  </section>

  <section id="feature">
    <div class="container-fluid feature-section">
      <h1 class="text-center mb-2">What StudyBuddies Offer</h1>
      <p class="text-center">There are many features here <span style="color: #F44A6E;"><strong>to help you</strong></span> with your study</p>
    </div>
  </section>

</body>

</html>
