<footer class="footer-20192">
  <div class="site-section">
    <div class="container">

      <div class="row">

        <div class="col-sm">
          <h1 href="#" class="footer-logo">StudyBuddies</h1>
          <p class="copyright">
            <small>&copy; 2021</small>
          </p>
        </div>
        <div class="col-sm">
          <h3>Join Us</h3>
          <ul class="list-unstyled links">
            <li><a href="/signup">Learner</a></li>
            <li><a href="/signup?istutor=1">Tutor</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>About</h3>
          <ul class="list-unstyled links">
            <li><a href="#">About us</a></li>

            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Further Information</h3>
          <ul class="list-unstyled links">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Follow us</h3>
          <ul class="social-icons">
            <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>
            <li><a class="telegram" href="#"><i class="fa fa-telegram"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
