<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-navbar">
  <div class="container-fluid">
    <h1 class="navbar-brand me-4 my-0" href="#">StudyBuddies</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link expand" aria-current="page" href="#">Find Tutors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link expand" href="#">Be a Tutor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link expand" href="#" >About</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-outline-success sign-in-btn" type="button">Sign in</button>
      </div>
    </div>
  </div>

</nav>
